@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

*{font-family: 'Overpass', sans-serif;}

div{
    width:90%;
    margin:3vw auto;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

li{
    width:40%;
    list-style: none;
    padding:10px;
    margin-right:2vw;
    background:#dde7e7;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

li p{
    width:100%;
    font-size:1em;
    font-weight: 400;
}


input{
    width:30%;
    padding:0.5vw;
}

button {
    margin-left:1vw;
    padding:0.5vw;
    
}

